mixin device(device)
    div.device
        div.device__container(popupType= device.control)
            include ../icon-small/icon-small
            +icon-small(device.icon, device.active, 'device')
            div.device__info
                div.device__name= device.name
                - if (device.status && device.status !== '')
                    div.device__status= device.status