@import '../../variables'

.device
    flexRowJustify(center)
    align-content center
    min-height 120px
    min-width 200px
    padding 10px
    &__container
        flexColumnJustify(space-between)
        height 120px
        width 200px
        background-color $darkenBackground
        border-radius 23px
        transition box-shadow .2s, background .2s
        &:hover
            cursor pointer
            background-color $brightBackground
            box-shadow 0px 0px 6px 0px rgba(197,186,186,0.50)
    &__info
        flexColumn()
        padding-bottom 14px
        padding-left 20px
        padding-right 20px
    &__name
        smallBold()
    &__status
        padding-top 3px
        smallestThin()
    &__icon
        margin-top 14px
        margin-left 14px
