@import '../../variables'

.main-container
    flexRow()
    flex-wrap wrap
    flex 1 0 auto
    box-sizing border-box
    width 100%
    padding-top $headerHeightDesktop+30px
    padding-bottom $footerHeight
    @media(max-width $breakpoint)
        padding-top $headerHeightMobile
        height auto