@import '../../variables'

.main-container
    flexColumn()
    flex-wrap no-wrap
    flex 1 0 auto
    box-sizing border-box
    width 100%
    padding-top $headerHeightDesktop+10px
    overflow hidden
    @media(max-width $breakpoint)
        padding-top $headerHeightMobile
        height auto