@import '../../variables'

.row-wrapper
    flexRowJustify(space-between)
    flex-wrap nowrap
    margin 0
    padding 0
    width 100vw
    height auto
    @media(max-width 1364px)
        flex-direction column
        align-items center