@import '../../variables'

.pop-up
    positon absolute
    flexColumn();
    transition all .2s
    &__contents
        height 100%
        width 100%
        border-radius 23px
        background-color $brightBackground
