@import '../../variables'

.pop-up
    position absolute
    flexColumn();
    transition all .2s
    &__contents
        height 75%
        width 100%
        border-radius 20px
        background-color $brightBackground
    &__buttons
        flexRowJustify(space-between);
        align-items flex-end
        width 100%
        height 80px
        opacity 0
        transition all .2s
        .pop-up--open &
            opacity 1
        @media(max-width $breakpointLow)
            flex-direction column
            padding-top 15px
            justify-content flex-start
            height 22%
    &__accept, &__close
        flexColumnJustify(center)
        text-align center
        font-size 21px
        font-weight bold
        height 60px
        width 307px
        border-radius 20px
        &:hover
            cursor pointer
        @media(max-width $breakpointLow)
            width 100%
            height 60px
            font-size 18px
    &__accept
        background $YandexYellow
        @media(max-width $breakpointLow)
            margin-bottom 15px
    &__close
        background $brightBackground
