@import '../../variables'

.dial
    position relative
    flexRowJustify(center)
    align-items center
    width 220px
    height 220px
    &__part
        position absolute
        top 0
        height 110px
        width 1px
        transform-origin 50% 100%
        background-color $activeText
        z-index 1
        &--active
            background-color #F9CF88
        for i in (1..115)
            &:nth-child({i})
                transform rotate(((i*2.55)+180+32.375)deg)
    &__arrow
        position absolute
        flexColumn()
        align-items center
        top 0
        height 110px
        width 15px
        transform-origin 50% 100%
        z-index 3
    &__arrow-tip
        height 14px
        width 14px
        padding-top 55px
        backgroundContain()
        background-image url(assets/icon_arrow.svg)
    &__cover
        flexColumnJustify(center)
        align-items center
        width 165px
        height 165px
        font-size 66px
        font-weight bold
        border-radius 50%
        background-color $brightBackground
        box-shadow 0 2px 4px 0 rgba(134,121,71,0.45)
        z-index 2