@import '../../variables'

body.blured .summary
    @media(max-width $breakpointLow)
        makeblur()

.summary
    padding-left 40px
    @media(max-width $breakpointMiddle)
        padding-left 0
    @media(max-width $breakpointLow)
        padding-left 20px
        padding-right 20px
        box-sizing border-box
        width 100%
    &__heading
        @media(max-width $breakpointMiddle)
            display none
    &__container
        flexRowJustify(space-between)
        position relative
        height 330px
        min-width 640px
        width 100vw
        max-width 40vw
        overflow hidden
        border-radius 22px
        backgroundCover()
        background-image url(../../assets/bg@1x.png)
        @media(min-resolution 192dpi) // Retina 
            url(../../assets/bg@2x.png)
        @media(max-width $breakpointLow)
            flex-direction column
            justify-content flex-start
            height auto
            width 100%
            min-width 0
            max-width none
        &::before
            content ''
            position absolute
            bottom 5px
            right 110px
            height 16px
            width 16px
            backgroundContain()
            background-image url(assets/double-arrow.svg)
            z-index 4
            @media(max-width $breakpointLow)
                display none
    &__core
        flexColumn()
        align-items flex-start
        width 360px
        margin-top 2.5rem
        margin-left 2.5rem
        font-color $activeText
    &__greeting
        width 100%
        font-weight bold
        line-height 3rem
        font-size 2.7rem
    &__status
        width 100%
        font-size 1.4rem
        line-height 1.6rem
        margin-top 6px
    &__weather
        flexRow()
        padding-top 2.5rem
        align-items flex-end
    &__temp
        flexColumn()
        font-size 3.6rem
        font-weight bold
        line-height 4.2rem
        &:nth-child(1)
            margin-right 1.8rem
        &--outside::before
            content 'За окном'
        &--inside::before
            content 'Дома'
        &--outside::before, &--inside::before
            font-size 1.4rem
            line-height 1.6rem
            color $inactiveText
            font-weight 400
    &__weather-icon
        height 4.3rem
        width 2.6rem
        &--rain
            backgroundContain()
            background-image url(../../assets/cloud-drizzle.svg)
            margin-left .5rem
    &__devices
        flexColumn()
        height 100%
        padding-right 10px
        width 220px
        padding-top 10px
        overflow hidden
        position relative
        &--grabbed
            cursor grabbing
        @media(max-width $breakpointLow)
            flex-direction row
            padding-left 10px
            height 140px
            width 100%



