mixin icon(type, active, additionalClass)
    if (active === null || type === null)
        div.icon(class=additionalClass)
    else
        - var status = active ? 'on' : 'off'
        - var iClass = 'icon' + '--' + type + '-' + status + (additionalClass ? ' ' + additionalClass : '')
        div.icon(class=iClass)
