@import '../../variables'

.pop-up-light
    flexColumn()
    opacity 0
    transition all .05s
    position relative
    &--reveal
        transition all .2s
        opacity 1
    &__heading
        box-sizing border-box
        font-size 27px
        font-weight bold
        margin 25px
        margin-right 90px
        margin-bottom 6px
        @media(max-width $breakpointLow)
            font-size 18px
    &__status
        padding-left 25px
        font-size 14px
        color $inactiveText
        @media(max-width $breakpointLow)
            font-size 12px
    &__tag
        font-weight bold
        margin-right 10px
        white-space nowrap
        &:last-child
            margin-right 0
        @media(max-width $breakpointLow)
            font-weight normal
    &__taglist
        flexRow()
        align-items center
        padding-left 25px
        height 31px
        margin-top 20px
        overflow hidden
    &__icon
        position absolute
        right 25px
        top 25px
        @media(max-width $breakpointLow)
            display none
    &__slider
        margin 25px
        border-radius 30px
        height 60px
        background-image linear-gradient(-85deg, #FFE682 2%, #FF9E00 98%)
        @media(max-width $breakpointMiddle)
            height auto
            width 60px
            align-self center