@import '../../variables'

.pop-up-light
    &__icon
        position absolute
        right 25px
        top 25px
        @media(max-width $breakpointLow)
            display none
    &--reveal
        transition all .2s
        opacity 1
    &__tag
        font-weight bold
        margin-right 10px
        white-space nowrap
        &:last-child
            margin-right 0
        @media(max-width $breakpointLow)
            font-weight normal
    &__slider
        flexRowJustify(space-between)
        align-items center
        background-image linear-gradient(to right, #FFE682, #FF9E00)
        @media(max-width $breakpointLow)
            flex-direction column-reverse
            background-image linear-gradient(to top, #FFE88C, #FFB100)
        &::before, &::after
            content ''
            height 30px
            width 30px
            backgroundContain()
        &::before
            margin-left 15px
            background-image url(assets/icon_sun_min.svg)
            @media(max-width $breakpointLow)
                margin-left 0
                margin-bottom 15px
        &::after
            margin-right 15px
            background-image url(assets/icon_sun_max.svg)
            @media(max-width $breakpointLow)
                margin-right 0
                margin-top 15px