mixin pop-up-light
    include ../pop-up-general/pop-up-general
    +pop-up-general('pop-up-light', ['Вручную', 'Дневной свет', 'Вечерний свет', 'Рассвет'])
        include ../slider/slider
        +slider('pop-up-light')