@import '../../variables'

.featured-devices
    flexColumn()
    width 100%
    &__heading
        flexRowJustify(space-between)
        align-content center
        box-sizing border-box
        padding-left 40px
        padding-right 40px
        width 100%
        @media(max-width $breakpointMiddle)
            padding-left 20px
            padding-right 20px
    &__caption
        flexColumnJustify(center)
        align-items flex-start
        margin-right 13px
    &__left-block
        flexRow()
    &__tag-list-wrapper
        position relative
        padding-top 5px
        padding-bottom 5px
    &__controls
        box-sizing border-box
        height 100%
        align-content center
        padding-top 10px
        padding-bottom 10px
    &__container
        flexRow()
        flex-wrap nowrap
        box-sizing border-box
        width 100%
        padding-left 30px
        padding-right 30px
        overflow hidden
        &--grabbed
            cursor grabbing
        @media(max-width $breakpointMiddle)
            padding-left 10px
            padding-right 10px