@import '../../variables'

.navigation
    flexRow()
    position relative
    height 100%
    @media(max-width $breakpoint)
        margin-top -400px
        transition margin-top .2s
        z-index 1
        &--open
            margin-top 0
    &__list
        resetListStyle()
        flexRow()
        bottom 0
        background $brightBackground
        @media(max-width $breakpoint)
            flex-direction column
            width 100%
            height auto
            overflow hidden
    &__link
        flexColumnJustify(center)
        height 100%
        padding-left 14px
        padding-right 14px
        text-align center
        text-decoration none
        color $inactiveText
        font-family Arial, sans-serif
        font-size 16px
        line-height 20px
        font-weight bold
        @media(max-width $breakpoint)
            height auto
            width 100%
            padding 0
            padding-top 14px
            padding-bottom 14px
        &:hover
            color $YandexRed
        &--active
            color $activeText
            &:hover
                color inherit 
        