@import '../../variables'

.navigation
    height 100%
    display flex
    position relative
    @media(max-width $breakpoint)
        z-index -1
        margin-top -400px
        transition margin-top .2s
        &--open
            margin-top 0
    &__list
        resetListStyle()
        display flex
        bottom 0
        @media(max-width $breakpoint)
            overflow hidden
            height auto
            width 100%
            flex-direction column    
    &__link
        height 100%
        padding-left 14px
        padding-right 14px
        text-align center
        display flex
        align-items center
        text-decoration none
        color $inactiveText
        font-family Arial, sans-serif
        font-weight bold
        @media(max-width $breakpoint)
            height auto
            padding 0
            padding-top 14px
            padding-bottom 14px
            width 100%
            display flex
            justify-content center
        &--active
            color $activeText