@import '../../variables'

.collapsable-tag-list
    flexRow()
    flex-wrap nowrap
    align-content center
    @media(max-width $breakpointLow)
        flex-direction column
        align-content flex-start
        max-height 36px
        z-index 3
        position absolute
        top 0
    &__tag
        margin-right 10px
        min-height 36px
        transition all .2s
        &:hover
            background-color $brightBackground
            box-shadow 0px 0px 6px 0px rgba(197,186,186,0.50)
        @media(max-width $breakpointLow)
            margin-right 0
            margin-bottom 0
            display none
            &:nth-child(1)
                flexRowJustify(space-between)
                align-items center
                &::after
                    content ''
                    height 13px
                    width 13px
                    margin-left 10px
                    backgroundContain()
                    background-image url(../../assets/arrow-left.svg)
                    transform rotate(-90deg)
            .collapsable-tag-list--uncollapsed &
                display flex
                margin-bottom 10px
                box-shadow 0px 0px 6px 0px rgba(197,186,186,0.50)
