mixin pop-up-general(additionalClass, tgs, aside)
    div.pop-up-general(class= additionalClass)
        div.pop-up-general__aside(class= additionalClass + '__aside')
            if aside
                span.pop-up-general__aside-info(class= additionalClass + '__aside-info')= aside
            include ../icon-large/icon-large
            +icon-large(null, null, additionalClass)
        div.pop-up-general__heading(class= additionalClass + '__heading')
        div.pop-up-general__status(class= additionalClass + '__status')
        div.pop-up-general__controls(class= additionalClass + '__controls')
            if tgs
                div.pop-up-general__taglist(class= additionalClass + '__taglist')
                    include ../tag/tag
                    each tg, index in tgs
                        if (index === 0)
                            +tag(tg, additionalClass, true)
                        else
                            +tag(tg, additionalClass, false)
            div.pop-up-general__main-control-wrapper(class= additionalClass + '__main-control-wrapper')
                block