mixin controls(additionalClass)
    div.controls(class= additionalClass + '__' + 'controls')
        div.controls__backward(class= additionalClass + '__' + 'backward')
        div.controls__forward(class= additionalClass + '__' + 'forward')