mixin script-block(script)
    div.script
        div.script__container
            include ../icon-small/icon-small
            +icon-small(script.icon, script.active, 'script')
            div.script__info
                div.script__name= script.name
                - if (script.status && script.status)
                    div.script__status= script.status