@import '../../variables'

.footer
    flexRowJustify(space-between)
    align-items center
    box-sizing border-box
    height 60px
    width 100%
    padding-left 40px
    padding-right 36px
    color $inactiveText
    font-family Arial, sans-serif
    font-size 12px
    &__links
        flexRow()
        height 100%
    &__link
        flexColumnJustify(center)
        height 100%
        padding-right 1em
        text-decoration none
        color inherit
        