@import '../../variables'

.info-block
    flexColumn()
    &__heading
        width 100%
        line-height 21px
        font-family Arial, sans-serif
        font-size 18px
        font-weight bold
        color $activeText