@import '../../variables'

.pop-up-temp
    &__icon
        position absolute
        right 25px
        top 25px
        @media(max-width $breakpointLow)
            display none
    &--reveal
        display flex
        transition all .2s
        opacity 1
    &__tag
        font-weight bold
        margin-right 10px
        white-space nowrap
        &:last-child
            margin-right 0
        @media(max-width $breakpointLow)
            font-weight normal
    &__slider
        flexRowJustify(space-between)
        align-items center
        background-image linear-gradient(to right, #068FFF, #FFD800, #F76B1C)
        @media(max-width $breakpointLow)
            flex-direction column-reverse
            background-image linear-gradient(to top, #068FFF, #FFD800, #F76B1C)
        &::before, &::after
            height 21px
            width 30px
            color $brightBackground
            font-weight bold
            font-size 18px
        &::before
            content '-10'
            margin-left 15px
            @media(max-width $breakpointLow)
                margin-left 0
                margin-bottom 15px
        &::after
            content '+30'
            margin-right 15px
            @media(max-width $breakpointLow)
                margin-right 0
                margin-top 15px