@import './variables'

html, body
    height 100%
body
    display flex
    flex-direction column
    user-select none

html // 1rem - 10px
    font-size 10px
    @media(max-width $breakpoint)
        font-size 1.9vw