<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Яндекс Дом
    body
        include components/header/header
        +header(data.navigation)
        include components/main-container/main-container
        +main-container
            div.dummy
            include components/footer/footer
            +footer(data.footer.links, data.footer.copyright)
    script(src="main.js")