@import './variables'

html, body
    height 100vh

.body
    display flex
    flex-direction column
    user-select none
    font-family $mainFont
    &--overflow-hidden-all
        overflow hidden
    &--overflow-hidden-mobile
        @media(max-width $breakpointLow)
            overflow hidden

html // 1rem - 10px
    font-size .73vw
    @media(min-width 2000px)
        font-size 14px
    @media(max-width 1364px)
        font-size 10px
    @media(max-width $breakpointLow)
        font-size 1.9vw


//temp styles
.tag, .pop-up__accept, a[href='#']
    text-decoration line-through