<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Яндекс Дом
    body.body
        include components/pop-up-container/pop-up-container
        +pop-up-container
            include components/pop-up/pop-up
            +pop-up(data.main)
        include components/header/header
        +header(data.navigation)
        include components/blocker-block/blocker-block
        +blocker-block
        include components/main-container/main-container
        +main-container
            include components/row-wrapper/row-wrapper
            +row-wrapper
                include components/summary/summary
                +summary(data.main, data.devices)
                include components/featured-scripts/featured-scripts
                +featured-scripts(data.scripts)
            +row-wrapper
                include components/featured-devices/featured-devices
                +featured-devices(data.devices)
        include components/footer/footer
        +footer(data.footer.links, data.footer.copyright)
    script(src="main.js")