$activeText = #252525
$inactiveText = #858585
$brightBackground = #ffffff
$darkenBackground = #f7f7f7
$YandexYellow = #ffd93e
$YandexRed = #FF0000

resetListStyle()
    list-style none
    padding 0
    margin 0

makeblur()
    filter blur(4px)

$breakpoint = 768px
$headerHeightDesktop = 93px
$headerHeightMobile = 62px
$footerHeight = 58px

flexRow()
    display flex
    flex-direction row

flexColumn()
    display flex
    flex-direction column

flexRowJustify(j)
    flexRow()
    justify-content j

flexColumnJustify(j)
    flexColumn()
    justify-content j

