$activeText = #252525
$inactiveText = #818181
$brightBackground = #ffffff
$darkenBackground = #f7f7f7
$YandexYellow = #ffd93e

resetListStyle()
    list-style none
    padding 0
    margin 0

makeblur()
    filter blur(2px)

$breakpoint = 768px