$activeText = #252525
$inactiveText = #858585
$brightBackground = #ffffff
$darkenBackground = #f7f7f7
$YandexYellow = #ffd93e
$YandexRed = #FF0000

makeBlur()
    filter blur(2px)

blurForNavigation()
    @media(max-width $breakpointLow)
        makeBlur()

blurForPopup()
    makeBlur()

$breakpointLow = 768px
$breakpointMiddle = 1364px

$headerHeightDesktop = 93px
$headerHeightMobile = 62px
$footerHeight = 58px

$mainFont = Arial, Helvetica, sans-serif

smallBold()
    font-size 14px
    line-height 16px
    font-weight bold
    color $activeText

smallestThin()
    font-size 12px
    line-height 14px
    color $inactiveText

navBold()
    font-size 16px
    line-height 20px
    font-weight bold
    color $inactiveText

flexRow()
    display flex
    flex-direction row

flexColumn()
    display flex
    flex-direction column

flexRowJustify(j)
    flexRow()
    justify-content j

flexColumnJustify(j)
    flexColumn()
    justify-content j

resetListStyle()
    list-style none
    padding 0
    margin 0

backgroundContain()
    background-position center
    background-repeat no-repeat
    background-size contain

backgroundCover()
    background-repeat no-repeat
    background-size cover