@import '../../variables'

.featured-scripts
    flexColumn()
    //background grey
    overflow hidden
    flex-grow 1
    margin-left 16px
    &__heading
        box-sizing border-box
        width 100%
        padding-left 10px
        padding-right 40px
        margin-bottom 0
    &__container
        flexRow()
        flex-wrap no-wrap
        box-sizing border-box
        margin-right 30px
        overflow hidden
        height auto
        width auto
    &__page
        flexRow()
        flex-wrap wrap
        align-content flex-start
        box-sizing border-box
        min-height 350px
        min-width 640px
        max-width 99%
        padding-top 10px
        padding-bottom 10px