@import '../../variables'

body.blured .featured-scripts
    @media(max-width $breakpointLow)
        makeblur()

.featured-scripts
    flexColumn()
    overflow hidden
    margin-left 16px
    margin-right 30px
    width auto
    @media(max-width $breakpointMiddle)
        max-width 100%
        margin-left 0
        margin-right 0
        margin-top 15px
    &__heading
        flexRowJustify(space-between)
        box-sizing border-box
        width 100%
        padding-left 11px
        padding-right 16px
        margin-bottom 0
        @media(max-width $breakpointMiddle)
            padding-left 20px
            padding-right 20px
            margin-bottom 20px
    &__container
        flexRow()
        flex-wrap nowrap
        box-sizing border-box
        overflow hidden
        height auto
        width 100vw
        @media(max-width $breakpointMiddle)
            margin 0
            justify-content flex-start
            padding-left 10px
    &__page
        flexRow()
        flex-wrap wrap
        align-content flex-start
        box-sizing border-box
        min-height 350px
        max-height 350px
        min-width 640px
        max-width 99%
        padding-top 10px
        padding-bottom 10px
        overflow hidden
        transition min-width .2s ease-in, width .2s ease-in, opacity .2s ease-out
        @media(max-width $breakpointMiddle)
            flex-wrap nowrap
            min-height 0
            max-height 115px
            max-width none
            min-width 1890px
            padding 0
            &:last-child
                min-width 0


.featured-scripts__container, .featured-scripts__heading
    @media(min-width 1365px)
        max-width 640px
    @media(min-width 1585px)
        max-width 860px
    @media(min-width 1919px)
        max-width 1065px
    @media(min-width 2280px)
        max-width 1275px