@import '../../variables'

.featured-scripts
    flexColumn()
    overflow hidden
    flex-grow 1
    margin-left 16px
    @media(max-width 1364px)
        max-width 100%
        margin-left 0
    &__heading
        box-sizing border-box
        width 100%
        padding-left 10px
        padding-right 20px
        margin-bottom 0
        @media(max-width 1364px)
            padding-left 20px
            padding-right 20px
            margin-bottom 20px
    &__container
        flexRow()
        flex-wrap nowrap
        box-sizing border-box
        margin-right 30px
        overflow hidden
        height auto
        width auto
        transition padding .2s
        @media(max-width 1364px)
            margin 0
            justify-content flex-start
            padding-left 10px
    &__page
        flexRow()
        flex-wrap wrap
        align-content flex-start
        box-sizing border-box
        min-height 350px
        max-height 350px
        min-width 640px
        max-width 99%
        padding-top 10px
        padding-bottom 10px
        overflow hidden
        transition min-width .2s ease-in, width .2s ease-in, opacity .2s ease-out
        @media(max-width 1364px)
            flex-wrap nowrap
            min-height 0
            max-height 115px
            max-width none
            min-width 1890px
            padding 0
            &:last-child
                min-width 0
        &--scrolled
            min-width 0px
            width 0px
            opacity 0
            transition min-width .2s ease-out, width .2s ease-out, opacity .2s ease-in
            @media(max-width 1364px)
                min-width 1890px
                opacity 1
                width auto
                &:last-child
                    min-width 0
    &__controls
        flexRowJustify(space-between)
        width 48px
        height 16px
    &__forward, &__backward
        height 16px
        width 16px
        background-repeat no-repeat
        background-size contain
        background-position center
        opacity 0.5
        transition opacity .2s
        background-image url(../../assets/arrow-left.svg)
        &:hover
            cursor pointer
            opacity 1
    &__forward
        transform scale(-1, 1)


.featured-scripts__container, .featured-scripts__heading
    @media(min-width 1365px)
        max-width 640px
    @media(min-width 1585px)
        max-width 860px
    @media(min-width 1790px)
        max-width 1065px
    @media(min-width 2000px)
        max-width 1275px
    @media(min-width 2220px)
        max-width 1495px